body, th, td {
	font-family: sans-serif;
}

p {
	margin: 1em 0;
	line-height:1.4em;
}

img {
	vertical-align: text-bottom;
}

h1 {
	font-size: 175%;
	font-weight: normal;
	color: #007aff;
}

h2 {
	font-size: 100%;
	text-transform:uppercase;
	font-weight: normal;
	margin: 3.5ex 0 2.5ex 0;
	color:#444;
}

h3 {
	font-size: 100%;
}

a {
	color: #000;
}

a:visited {
	color: #666;
}

a:active {
	color: red;
}

table {
	border-collapse: collapse;
}

td,th {
	line-height: 1.4em;
	padding: 0.5em;
}

ul {
	padding: 0 0 0 1.2em;
}

ul li {
	padding: 0;
	margin: 0.5em 0;
	line-height:1.4em;
}

ul.instruction {
	list-style: none;
}

ul.instruction li {
	position: relative;
}

ul.instruction li:before {
	content:"\25B6\FE0E";
	position:absolute;
	left:-1.2em;
}

.nowrap {
	white-space: nowrap;
}

.google-text {
	color: #4285f4;
}

.magenta-button {
	color: #ff3399;
	font-weight: bold;
}

.button-color {
	background-color: #DDD;
	padding: 0.3em 1em 0.2em 1em;
	font-size: 65%;
	font-weight: bold;
	border-bottom: 1px solid #cdcdcd;
	border-radius: 0.1em;
}

.iOS {
	color: #007aff;
}

.apple {
	display: none;
}

.android {
	display: inline;
}

.mqtt-index {
	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
}

.mqtt-index a {
	text-decoration: none;
	display: block;
	padding: 1em 1em 1em 0;
	border-bottom: 1px solid #BBB;
	color: #000;
}

.note {
	background-color: #EEE;
	padding: 0.7em;
	border: 1px solid #000;
	font-style: italic;
	margin: 1.5em 0;
}

.note em {
	font-style: normal;
}
.note h6 {
	font-size: 100%;
	font-weight: bold;
	margin: 0.25em 0;
}

.note p {
	margin: 0.75em 0;
}

.note p:last-child {
	margin-bottom: 0;
}

img.thumb {
	box-shadow: 3px 3px 5px #888888;
}

img.large {
	width: 100%;
	max-width: 600px;
	display: none;
	box-shadow: 3px 3px 5px #888888;
}

.LAY {
	display: none;
	position: fixed;
	height: 15em;
	top: 3.0em;
	left: 0.8em;
	right: 0.8em;
	font-size: 90%;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 1em;
	box-shadow: 2px 2px 4px #999999;
	padding: 0.4em 0.6em;
	background-color: #eeffee;
	overflow: auto;
}

pre.wrap {
	white-space: pre-wrap;
}

.close {
	position: fixed;
	top: 1.4em;
	right: 0.6em;
	font-size: 200%;
	cursor: pointer;
}

.clicklink {
	margin-left: 1.5em;
	font-size: 85%;
	color: #007aff;
}

.examples {
	line-height: 1em; 
}